* {
    margin: 0;
}

.reactMarkdown p{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    text-align: justify;
}

.reactMarkdown h1{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}